@import "./../variables";
@import "./../functions";

.herocode-line-clamp {
	display: -webkit-box;
  -webkit-box-orient: vertical;  
  overflow: hidden;
	-webkit-line-clamp: var(--herocode-line-clamp--desktop--lineClamp);
	margin: var(--herocode-line-clamp--desktop--margin);

	&:empty {
		--herocode-line-clamp--mobile--margin: 0;
		--herocode-line-clamp--tablet--margin: 0;
		--herocode-line-clamp--desktop--margin: 0;
	}

	@media screen and (max-width: $breakpoint-smallpc) {
		-webkit-line-clamp: var(--herocode-line-clamp--tablet--lineClamp, var(--herocode-line-clamp--desktop--lineClamp));
		margin: var(--herocode-line-clamp--tablet--margin, var(--herocode-line-clamp--desktop--margin));
	}

	@media screen and (max-width: $breakpoint-mobile) {
		-webkit-line-clamp: var(--herocode-line-clamp--mobile--lineClamp, var(--herocode-line-clamp--tablet--lineClamp, var(--herocode-line-clamp--desktop--lineClamp)));
		margin: var(--herocode-line-clamp--mobile--margin, var(--herocode-line-clamp--tablet--margin, var(--herocode-line-clamp--desktop--margin)));
	}

	:where(:first-child) {
		margin-block-start: 0;
	}

	:where(:last-child) {
		margin-block-end: 0;
	}
}
