@import "./../variables";
@import "./../functions";

.wp-block-herocode-divider {
	display: flex;

	.herocode-divider {
		flex-grow: 1;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			inset: 0;
			mask-image: var( --herocode-divider--mask-image );
			mask-position: left center;
			mask-repeat: repeat;
			background-color: var( --herocode-divider--color, var(--wp--preset--color--primary) );
		}
	}

	// styles

	// Simple
	&:not([class*="is-style-"]),
	&.is-style-simple {
		border-block-end: solid 2px var( --herocode-divider--color, var(--wp--preset--color--primary) );
	}

	&.is-style {
		
		&-double-line {
			border-block-end: double 4px var( --herocode-divider--color, var(--wp--preset--color--primary) );
		}

		&-dotted {
			border-block-end: dotted 2px var( --herocode-divider--color, var(--wp--preset--color--primary) );
		}
	
		&-dashed {
			border-block-end: dashed 2px var( --herocode-divider--color, var(--wp--preset--color--primary) );
		}

		&-wave {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 15.5C6 15.5 4 4 10 4C16 4 13.5 15.5 20 15.5" stroke="#EE223B"/></svg>')))};
			height: 20px;
		}

		&-bubble {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="6" cy="6" r="3.5" stroke="#EE223B"/><circle cx="16" cy="15" r="2.5" stroke="#EE223B"/></svg>')))};
			height: 20px;
		}

		&-slashed {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M0 19.9999V19.2929L19.2929 0H20V0.707122L0.707122 20L0 19.9999Z"/><path d="M20 9.29291L9.29291 20H10.7071L20 10.7071V9.29291Z"/><path d="M20 19.2929L19.2929 20H20V19.2929Z"/><path d="M10.7071 0L0 10.7071V9.29291L9.29291 0H10.7071Z"/><path d="M0.707121 0L0 0.707121V0H0.707121Z"/></svg>')))};
			height: 20px;
		}

		&-squared-1 {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 14.5H4.5V4.5H14.5V14.5H20" stroke="#EE223B"/></svg>')))};
			height: 20px;
		}

		&-squared-2 {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.5 11L0.5 5.5H5.5V10.5H10.5V15.5H15.5V10.5H20" stroke="#EE223B"/></svg>')))};
			height: 20px;
		}

		&-squared-3 {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="16" height="22" viewBox="0 0 16 22" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="20" width="16" height="2" fill="#EE223B"/><path d="M14 14V4H0V18H2V6H12V12H10V8H4V18H16V16H6V10H8V14H14Z" fill="#EE223B"/><rect width="16" height="2" fill="#EE223B"/></svg>')))};
			height: 22px;
		}

		&-curly {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 16.5C10 16.5 17 3.5 10 3.5C3 3.5 10 16.5 20 16.5" stroke="#EE223B"/></svg>')))};
			height: 20px;
		}

		&-ornament {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M5 9C5 6.22386 7.22386 4 10 4C12.7761 4 15 6.22386 15 9C15 11.3454 13.5234 12.9493 11.4084 14.012C13.9127 14.7191 16.9868 15 20 15V16C16.4955 16 12.8239 15.628 10 14.6115C7.17609 15.628 3.50453 16 0 16V15C3.01317 15 6.0873 14.7191 8.59165 14.012C6.47659 12.9493 5 11.3454 5 9ZM10 13.5437C12.5062 12.5661 14 11.0965 14 9C14 6.77614 12.2239 5 10 5C7.77614 5 6 6.77614 6 9C6 11.0965 7.4938 12.5661 10 13.5437Z"/><path d="M11 9C11 9.55228 10.5523 10 10 10C9.44772 10 9 9.55228 9 9C9 8.44772 9.44772 8 10 8C10.5523 8 11 8.44772 11 9Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M20 8C19.4477 8 19 8.44772 19 9C19 9.55228 19.4477 10 20 10V11C18.8954 11 18 10.1046 18 9C18 7.89543 18.8954 7 20 7V8Z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M0 8C0.552285 8 1 8.44772 1 9C1 9.55228 0.552285 10 0 10V11C1.10457 11 2 10.1046 2 9C2 7.89543 1.10457 7 0 7V8Z"/></svg>')))};
			height: 20px;
		}

		&-zigzag {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9.99908 2.93933L20 12.9403V15.0616L9.99908 5.06065L0 15.0597V12.9384L9.99908 2.93933Z"/></svg>')))};
			height: 20px;
		}

		&-arrows {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M12.4141 5L10.9998 6.41421L13.5856 9H3V11H13.4853L11 13.4853L12.4142 14.8995L17.364 9.94976L12.4141 5Z"/></svg>')))};
		}

		&-cross-1 {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8.77802 7.36396C9.16855 7.75449 9.16855 8.38765 8.77802 8.77818C8.3875 9.1687 7.75433 9.1687 7.36381 8.77818L5.24256 6.65693L3.12132 8.77818C2.7308 9.1687 2.09763 9.1687 1.70711 8.77818C1.31658 8.38765 1.31658 7.75449 1.70711 7.36396L3.82835 5.24272L1.70696 3.12132C1.31643 2.7308 1.31643 2.09763 1.70696 1.70711C2.09748 1.31658 2.73065 1.31658 3.12117 1.70711L5.24256 3.8285L7.36396 1.70711C7.75448 1.31658 8.38765 1.31658 8.77817 1.70711C9.1687 2.09763 9.1687 2.7308 8.77817 3.12132L6.65678 5.24272L8.77802 7.36396Z"/><path d="M18.778 17.364C19.1685 17.7545 19.1685 18.3877 18.778 18.7782C18.3875 19.1687 17.7543 19.1687 17.3638 18.7782L15.2426 16.6569L13.1213 18.7782C12.7308 19.1687 12.0976 19.1687 11.7071 18.7782C11.3166 18.3877 11.3166 17.7545 11.7071 17.364L13.8284 15.2427L11.707 13.1213C11.3164 12.7308 11.3164 12.0976 11.707 11.7071C12.0975 11.3166 12.7306 11.3166 13.1212 11.7071L15.2426 13.8285L17.364 11.7071C17.7545 11.3166 18.3876 11.3166 18.7782 11.7071C19.1687 12.0976 19.1687 12.7308 18.7782 13.1213L16.6568 15.2427L18.778 17.364Z"/></svg>')))};
		}

		&-cross-2 {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M13.5355 5.05026C13.9261 4.65973 13.9261 4.02657 13.5355 3.63604C13.145 3.24552 12.5118 3.24552 12.1213 3.63604L10.7071 5.05026C10.3166 5.44078 9.68342 5.44078 9.29289 5.05026L7.87868 3.63604C7.48816 3.24552 6.85499 3.24552 6.46447 3.63604C6.07394 4.02657 6.07394 4.65973 6.46447 5.05026L8.58579 7.17158C9.36683 7.95263 10.6332 7.95263 11.4142 7.17158L13.5355 5.05026Z"/><path d="M6.46447 14.9498C6.07394 15.3403 6.07394 15.9734 6.46447 16.364C6.85499 16.7545 7.48816 16.7545 7.87868 16.364L9.29289 14.9498C9.68342 14.5592 10.3166 14.5592 10.7071 14.9498L12.1213 16.364C12.5118 16.7545 13.145 16.7545 13.5355 16.364C13.9261 15.9734 13.9261 15.3403 13.5355 14.9498L11.4142 12.8284C10.6332 12.0474 9.36684 12.0474 8.58579 12.8284L6.46447 14.9498Z"/><path d="M3.63604 7.87868C3.24551 7.48816 3.24552 6.85499 3.63604 6.46447C4.02656 6.07395 4.65973 6.07395 5.05025 6.46447L7.17157 8.58579C7.95262 9.36684 7.95262 10.6332 7.17157 11.4142L5.05025 13.5355C4.65973 13.9261 4.02656 13.9261 3.63604 13.5355C3.24551 13.145 3.24552 12.5118 3.63604 12.1213L5.05025 10.7071C5.44078 10.3166 5.44078 9.68342 5.05025 9.2929L3.63604 7.87868Z"/><path d="M14.9497 13.5355C15.3403 13.9261 15.9734 13.9261 16.364 13.5355C16.7545 13.145 16.7545 12.5118 16.364 12.1213L14.9497 10.7071C14.5592 10.3166 14.5592 9.68342 14.9497 9.2929L16.364 7.87868C16.7545 7.48816 16.7545 6.855 16.364 6.46447C15.9734 6.07395 15.3403 6.07395 14.9497 6.46447L12.8284 8.58579C12.0474 9.36684 12.0474 10.6332 12.8284 11.4142L14.9497 13.5355Z"/></svg>')))};
		}

		&-pluses {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 3C9.44772 3 9 3.44772 9 4V9H4C3.44772 9 3 9.44771 3 10C3 10.5523 3.44772 11 4 11H9V16C9 16.5523 9.44772 17 10 17C10.5523 17 11 16.5523 11 16V11H16C16.5523 11 17 10.5523 17 10C17 9.44772 16.5523 9 16 9H11V4C11 3.44772 10.5523 3 10 3Z"/></svg>')))};
		}

		&-rhombus {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2L15 10L10 18L5 10L10 2Z"/></svg>')))};
		}

		&-parallelogram {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2H20L10 18H0L10 2Z"/></svg>')))};
		}

		&-rectangles {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M1 2H4L6 16H3L1 2Z"/><path d="M9 7H12L11 18H8L9 7Z"/><path d="M14.0449 4.00001H17.0449L18.0449 15H15.0449L14.0449 4.00001Z" /></svg>')))};
		}

		&-garden {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.21767 8.76643C3.05953 9.16061 4.12848 9.12072 5.33949 8.13913C6.72838 7.01335 7.23037 5.30179 6.90401 1C5.86221 3.12967 4.55148 3.65416 3.39339 4.11758C2.59214 4.4382 1.86395 4.72959 1.34845 5.50311C0.839305 6.26711 0.908888 7.41335 1.42194 8.13452C1.3248 8.22711 1.23551 8.32717 1.15429 8.43288C0.747101 8.96287 0.533576 9.64166 0.511636 10.2829C0.491692 10.8658 0.629612 11.4849 1.00325 11.9437C0.682107 11.9805 0.34818 12 0 12V13C1.13297 13 2.13076 12.8134 3.02595 12.5101C3.06242 12.5011 3.09915 12.4913 3.13612 12.4808L3.13385 12.4728C4.17942 12.1044 5.08424 11.5779 5.90172 11.0081C6.63376 10.5628 7.4989 10.1446 8.22038 10.0032C8.69453 9.91024 9.00253 9.95744 9.17781 10.0726C9.32287 10.1679 9.49921 10.3936 9.49921 11C9.49921 11.3294 9.52494 11.6325 9.57317 11.9107C9.35233 12.1536 9.1879 12.4336 9.10709 12.7359C8.79632 13.8986 9.10386 15.227 10.8034 16.3055C12.5029 17.384 14.5132 17.2999 19 15.3876C16.35 15.0455 15.3217 13.8322 14.4131 12.7603C13.7845 12.0186 13.2132 11.3446 12.2018 11.0735C11.6524 10.9262 11.0416 11.0085 10.5051 11.2474C10.5012 11.1678 10.4992 11.0854 10.4992 11C10.4992 10.2064 10.2589 9.58629 9.72686 9.2368C9.38086 9.0095 8.97415 8.94058 8.56891 8.95615C8.89438 8.7115 9.21534 8.48563 9.54198 8.28602C10.3385 7.79923 11.1228 7.5 12 7.5C12.8636 7.5 13.4306 7.78872 13.8914 8.22317C14.3281 8.63498 14.6675 9.17171 15.0581 9.78954C15.1056 9.86465 15.1539 9.94101 15.2032 10.0184C15.6413 10.707 16.1503 11.4629 16.8987 12.0373C17.6638 12.6244 18.6475 13 20 13V12C18.8525 12 18.0862 11.6881 17.5075 11.244C16.9122 10.7871 16.4837 10.168 16.0468 9.48156C15.9992 9.40667 15.9512 9.33056 15.9027 9.25364C15.5235 8.65193 15.1128 8.0004 14.5774 7.49558C13.9444 6.89878 13.1364 6.5 12 6.5C10.8772 6.5 9.91147 6.88827 9.02052 7.43273C8.31791 7.86211 7.63298 8.40833 6.94942 8.95345C6.77998 9.08857 6.61061 9.22365 6.44109 9.35684C6.08656 9.6354 5.7255 9.91075 5.35118 10.1725C5.11945 10.3144 4.90411 10.4562 4.71248 10.5904L4.71488 10.5938C4.10823 10.9715 3.46072 11.3027 2.74725 11.5486C2.25793 11.6604 1.98536 11.5303 1.82527 11.3648C1.62385 11.1566 1.4951 10.7833 1.51105 10.3171C1.52675 9.85834 1.6822 9.38713 1.94727 9.04212C2.02823 8.93675 2.11832 8.84403 2.21767 8.76643Z"/><path d="M16 5C16 5.55228 15.5523 6 15 6C14.4477 6 14 5.55228 14 5C14 4.44772 14.4477 4 15 4C15.5523 4 16 4.44772 16 5Z"/><path d="M6 18C6.55228 18 7 17.5523 7 17C7 16.4477 6.55228 16 6 16C5.44772 16 5 16.4477 5 17C5 17.5523 5.44772 18 6 18Z"/><path d="M13 3C13 3.55228 12.5523 4 12 4C11.4477 4 11 3.55228 11 3C11 2.44772 11.4477 2 12 2C12.5523 2 13 2.44772 13 3Z"/><path d="M3 16C3.55228 16 4 15.5523 4 15C4 14.4477 3.55228 14 3 14C2.44772 14 2 14.4477 2 15C2 15.5523 2.44772 16 3 16Z"/><path d="M7 14C7 14.5523 6.55228 15 6 15C5.44772 15 5 14.5523 5 14C5 13.4477 5.44772 13 6 13C6.55228 13 7 13.4477 7 14Z"/><path d="M15 3C15.5523 3 16 2.55228 16 2C16 1.44772 15.5523 1 15 1C14.4477 1 14 1.44772 14 2C14 2.55228 14.4477 3 15 3Z"/></svg>')))};
			height: 20px;
		}

		&-trees {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M16.9611 6.36225L14.2655 3L12.2552 6.82755L13.7274 6.68198L11.4229 10.5388L13.0691 10.376L10.5882 14.25L20 13.3194L16.8339 10.0038L18.4817 9.84084L15.4919 6.50752L16.9611 6.36225Z"/><path d="M7.05882 8L4.70588 4.25L2.35294 8H3.82353L1.17647 11.75H2.82353L0 15.5H9.41176L6.58823 11.75H8.23529L5.58823 8H7.05882Z"/><path d="M5.88235 16.75V18H3.52941V16.75H5.88235Z"/><path d="M16.4706 15.5H14.1176V16.75H16.4706V15.5Z"/></svg>')))};
		}

		&-stars-1 {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5.62396 2L7.68174 4.58611L11 3.99609L9.09308 6.68821L10.6986 9.55839L7.4623 8.63611L5.13632 11L5.04308 7.73787L2 6.32866L5.1787 5.23483L5.62396 2Z"/><path d="M15.39 11L15.7535 13.7309L18.3492 14.6544L15.8643 15.8441L15.7882 18.598L13.8888 16.6024L11.2461 17.381L12.5571 14.9579L11 12.6851L13.7096 13.1833L15.39 11Z"/><path d="M16.3894 2L16.5872 3.4377L18 3.92385L16.6475 4.55016L16.6061 6L15.5723 4.94938L14.1339 5.35929L14.8475 4.08365L14 2.88715L15.4748 3.14938L16.3894 2Z" /><path d="M3.61065 14L3.41276 15.4377L2 15.9238L3.35248 16.5502L3.39392 18L4.42769 16.9494L5.86605 17.3593L5.15248 16.0837L6 14.8872L4.52522 15.1494L3.61065 14Z"/></svg>')))};
		}

		&-stars-2 {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 2L6.17557 4.38197L8.80423 4.76393L6.90211 6.61803L7.35114 9.23607L5 8L2.64886 9.23607L3.09789 6.61803L1.19577 4.76393L3.82443 4.38197L5 2Z"/><path d="M15 2L16.1756 4.38197L18.8042 4.76393L16.9021 6.61803L17.3511 9.23607L15 8L12.6489 9.23607L13.0979 6.61803L11.1958 4.76393L13.8244 4.38197L15 2Z" /><rect y="16" width="20" height="2" /><rect y="12" width="20" height="2"/></svg>')))};
			height: 20px;
		}

		&-hearts {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M15.0955 10.0852C16.3015 8.92188 16.3015 7.03578 15.0955 5.87248C13.8894 4.70917 11.934 4.70917 10.7279 5.87248L10 6.5746L9.27208 5.87248C8.06602 4.70917 6.11061 4.70917 4.90455 5.87248C3.69848 7.03578 3.69849 8.92188 4.90455 10.0852L10 15L15.0955 10.0852Z"/></svg>')))};
		}

		&-weaving {
			--herocode-divider--mask-image: #{url(escape-svg(prepare-svg('<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M2.20053 7.20268C1.53575 6.40495 0.854878 6 0 6V4C1.64512 4 2.83925 4.84505 3.73697 5.92232C4.59303 6.94959 5.26143 8.2866 5.86443 9.49278C5.87444 9.51282 5.88444 9.53282 5.89443 9.55279C6.53359 10.8311 7.10725 11.9667 7.79947 12.7973C8.46425 13.595 9.14512 14 10 14C10.8549 14 11.5358 13.595 12.2005 12.7973C12.8927 11.9667 13.4664 10.8311 14.1056 9.55279L14.1356 9.49278C14.7386 8.2866 15.407 6.94959 16.263 5.92232C17.1608 4.84505 18.3549 4 20 4V6C19.1451 6 18.4642 6.40495 17.7995 7.20268C17.1073 8.03335 16.5336 9.16889 15.8944 10.4472L15.8644 10.5072C15.2614 11.7134 14.593 13.0504 13.737 14.0777C12.8392 15.155 11.6451 16 10 16C8.35488 16 7.16075 15.155 6.26303 14.0777C5.40697 13.0504 4.73857 11.7134 4.13557 10.5072C4.12555 10.4872 4.11555 10.4672 4.10557 10.4472C3.46641 9.16889 2.89275 8.03335 2.20053 7.20268Z"/><path d="M3.01399 11.6176C2.75448 12.0556 2.48771 12.4527 2.20053 12.7973C1.53575 13.595 0.854877 14 0 14V16C1.64512 16 2.83925 15.155 3.73697 14.0777C3.86207 13.9276 3.98316 13.7708 4.10062 13.6089C3.68813 12.9364 3.32945 12.2446 3.01399 11.6176Z"/><path d="M13.014 8.38238C12.7545 7.94439 12.4877 7.5473 12.2005 7.20268C11.5358 6.40495 10.8549 6 10 6C9.14512 6 8.46424 6.40495 7.79947 7.20268C7.51229 7.5473 7.24552 7.94439 6.98601 8.38238C6.67055 7.75541 6.31187 7.06363 5.89938 6.39114C6.01684 6.22917 6.13793 6.07243 6.26303 5.92232C7.16075 4.84505 8.35488 4 10 4C11.6451 4 12.8392 4.84504 13.737 5.92232C13.8621 6.07243 13.9832 6.22917 14.1006 6.39114C13.6881 7.06363 13.3294 7.75541 13.014 8.38238Z"/><path d="M15.8994 13.6089C16.0168 13.7708 16.1379 13.9276 16.263 14.0777C17.1608 15.155 18.3549 16 20 16V14C19.1451 14 18.4642 13.595 17.7995 12.7973C17.5123 12.4527 17.2455 12.0556 16.986 11.6176C16.6705 12.2446 16.3119 12.9364 15.8994 13.6089Z"/></svg>')))};
			height: 20px;
		}
	}

	// У определенной части фонов
	// нужно сделать так, чтобы он не обрезался по карям
	&:is(
		.is-style-arrows,
		.is-style-cross-1,
		.is-style-cross-2,
		.is-style-pluses,
		.is-style-rhombus,
		.is-style-parallelogram,
		.is-style-rectangles,
		.is-style-trees,
		.is-style-stars-1, 
		.is-style-hearts 
	) {
		height: 20px;

		// это свойство позволяет сделать слева и справа нормальные обрезания картинки
		/*.herocode-divider {
			&::before {
				mask-repeat: space no-repeat;
			}
		}*/
	}
}
