@import "./../variables";
@import "./../functions";

.wp-block-herocode-backgrounds {
	position: relative;
	overflow: hidden;
	height: auto;
	min-height: var( --herocode-backgrounds--minHeight, 430px );
	background-color: var( --herocode-backgrounds--backgroundColor, var( --wp--preset--color--primary ) );
	
	&, & * {
		box-sizing: border-box;
	}

	&:not([class*="is-style-"]),
	&.is-style-diagonal {
		--herocode-backgrounds--size: 120px;
		--herocode-backgrounds-mask--image: #{url(escape-svg(prepare-svg('<svg xmlns="http://www.w3.org/2000/svg" width="1920" height="120" viewBox="0 0 1920 120" fill="none"><path d="M1920 120H0V0L1920 120Z" fill="currentColor"/></svg>')))};
	}

	&.is-style {

		&-wave {
			--herocode-backgrounds--size: 90px;
			--herocode-backgrounds-mask--image: #{url(escape-svg(prepare-svg('<svg xmlns="http://www.w3.org/2000/svg" width="1920" height="90" viewBox="0 0 1920 90" fill="none"><path d="M1640.66 84.9399C1640.54 84.9399 1640.42 84.9399 1640.29 84.9399C1414.84 84.9399 1529.89 0 1409.67 0C1289.46 0 1099.64 84.9102 959.99 84.9399C959.87 84.9399 959.75 84.9399 959.62 84.9399C734.172 84.9399 849.232 0 729.02 0C608.807 0 418.988 84.9102 279.335 84.9399C279.215 84.9399 279.095 84.9399 278.965 84.9399C53.5079 84.9399 168.558 0 48.3452 0C33.2473 0 17.0589 1.33943 0 3.68096V90H1920V29.9934C1826.06 54.4405 1724.36 84.93 1640.66 84.9498V84.9399Z" fill="currentColor"/></svg>')))};
		}

		&-sinusoid {
			--herocode-backgrounds--size: 56px;
			--herocode-backgrounds-mask--image: #{url(escape-svg(prepare-svg('<svg xmlns="http://www.w3.org/2000/svg" width="1920" height="56" viewBox="0 0 1920 56" fill="none"><path d="M1920 40.48C1886.99 24.11 1872.68 0 1816.3 0C1738.45 0 1738.45 54.2 1660.6 54.2C1582.75 54.2 1582.76 0 1504.91 0C1427.06 0 1427.06 54.2 1349.22 54.2C1271.38 54.2 1271.37 0 1193.53 0C1115.69 0 1115.69 54.2 1037.84 54.2C959.99 54.2 959.99 0 882.15 0C804.31 0 804.3 54.2 726.46 54.2C648.62 54.2 648.61 0 570.76 0C492.91 0 492.91 54.2 415.07 54.2C337.23 54.2 337.23 0 259.38 0C181.53 0 181.54 54.2 103.69 54.2C49.84 54.2 31.7 24.46 0 8.81V56H1920V40.48Z" fill="currentColor"/></svg>')))};
		}

		&-stalactite {
			--herocode-backgrounds--size: 90px;
			--herocode-backgrounds-mask--image: #{url(escape-svg(prepare-svg('<svg width="1920" height="90" viewBox="0 0 1920 90" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1920 78.198C1918.79 78.6319 1917.43 78.8826 1915.86 78.8826C1903.92 78.8826 1903.92 18.9083 1891.97 18.9083C1880.02 18.9083 1880.03 10.1243 1868.08 10.1243C1856.13 10.1243 1856.14 78.4198 1844.19 78.4198C1832.24 78.4198 1832.25 58.4508 1820.3 58.4508C1808.35 58.4508 1808.36 64.1493 1796.41 64.1493C1784.46 64.1493 1784.47 30.6235 1772.52 30.6235C1760.57 30.6235 1760.58 60.4564 1748.63 60.4564C1736.68 60.4564 1736.68 20.1714 1724.74 20.1714C1712.8 20.1714 1712.8 84.4365 1700.85 84.4365C1688.9 84.4365 1688.91 37.7877 1676.96 37.7877C1665.01 37.7877 1665.02 11.4453 1653.07 11.4453C1641.12 11.4453 1641.13 7.62696 1629.18 7.62696C1617.23 7.62696 1617.24 15.2443 1605.29 15.2443C1593.34 15.2443 1593.35 25.3589 1581.4 25.3589C1569.45 25.3589 1569.46 55.6353 1557.51 55.6353C1545.56 55.6353 1545.57 67.3795 1533.63 67.3795C1521.69 67.3795 1521.69 31.5492 1509.74 31.5492C1497.79 31.5492 1497.8 62.2691 1485.85 62.2691C1473.9 62.2691 1473.91 63.5419 1461.97 63.5419C1450.03 63.5419 1450.03 67.8809 1438.08 67.8809C1426.13 67.8809 1426.14 85.5839 1414.2 85.5839C1402.26 85.5839 1402.26 31.636 1390.31 31.636C1378.36 31.636 1378.37 75.4018 1366.43 75.4018C1354.49 75.4018 1354.49 33.6897 1342.54 33.6897C1330.59 33.6897 1330.6 58.634 1318.66 58.634C1306.72 58.634 1306.72 57.8144 1294.78 57.8144C1282.84 57.8144 1282.84 35.5507 1270.89 35.5507C1258.94 35.5507 1258.95 2.6516 1247 2.6516C1235.05 2.6516 1235.06 76.4142 1223.11 76.4142C1211.16 76.4142 1211.17 76.4335 1199.22 76.4335C1187.27 76.4335 1187.28 45.5303 1175.33 45.5303C1163.38 45.5303 1163.39 50.2261 1151.44 50.2261C1139.49 50.2261 1139.5 51.1131 1127.55 51.1131C1115.6 51.1131 1115.61 53.784 1103.66 53.784C1091.71 53.784 1091.72 0 1079.77 0C1067.82 0 1067.83 19.2168 1055.88 19.2168C1043.93 19.2168 1043.94 33.7669 1032 33.7669C1020.06 33.7669 1020.06 18.1273 1008.11 18.1273C996.16 18.1273 996.17 78.6222 984.23 78.6222C972.29 78.6222 972.29 41.2299 960.34 41.2299C948.39 41.2299 948.4 86.1913 936.46 86.1913C924.52 86.1913 924.52 82.4598 912.57 82.4598C900.62 82.4598 900.63 73.4058 888.69 73.4058C876.75 73.4058 876.75 61.517 864.8 61.517C852.85 61.517 852.86 18.0694 840.92 18.0694C828.98 18.0694 828.98 63.6769 817.04 63.6769C805.1 63.6769 805.1 86.1624 793.15 86.1624C781.2 86.1624 781.21 72.6634 769.27 72.6634C757.33 72.6634 757.33 86.3167 745.39 86.3167C733.45 86.3167 733.45 27.3838 721.5 27.3838C709.55 27.3838 709.56 44.8747 697.62 44.8747C685.68 44.8747 685.68 64.7375 673.74 64.7375C661.8 64.7375 661.8 83.7037 649.86 83.7037C637.92 83.7037 637.92 36.5438 625.98 36.5438C614.04 36.5438 614.04 42.8112 602.1 42.8112C590.16 42.8112 590.16 70.6482 578.21 70.6482C566.26 70.6482 566.27 36.4956 554.33 36.4956C542.39 36.4956 542.39 79.7022 530.45 79.7022C518.51 79.7022 518.51 10.7607 506.56 10.7607C494.61 10.7607 494.62 22.0131 482.68 22.0131C470.74 22.0131 470.74 26.516 458.8 26.516C446.86 26.516 446.86 48.6544 434.92 48.6544C422.98 48.6544 422.98 18.513 411.03 18.513C399.08 18.513 399.09 59.5018 387.15 59.5018C375.21 59.5018 375.21 57.9109 363.27 57.9109C351.33 57.9109 351.33 33.844 339.39 33.844C327.45 33.844 327.45 69.655 315.5 69.655C303.55 69.655 303.56 40.0729 291.62 40.0729C279.68 40.0729 279.68 48.8472 267.74 48.8472C255.8 48.8472 255.8 11.561 243.86 11.561C231.92 11.561 231.92 66.9456 219.97 66.9456C208.02 66.9456 208.03 34.9432 196.09 34.9432C184.15 34.9432 184.15 72.4223 172.21 72.4223C160.27 72.4223 160.27 75.4114 148.33 75.4114C136.39 75.4114 136.39 50.39 124.45 50.39C112.51 50.39 112.51 29.9582 100.56 29.9582C88.61 29.9582 88.62 42.6184 76.68 42.6184C64.74 42.6184 64.74 20.9042 52.8 20.9042C40.86 20.9042 40.86 58.5858 28.92 58.5858C16.98 58.5858 17 3.08549 5.06 3.08549C3.08 3.08549 1.43 3.85687 0 5.13928V90H1920V78.198Z" fill="currentColor"/></svg>')))};
		}

		&-rounding {
			--herocode-backgrounds--size: 42px;
			--herocode-backgrounds-mask--image: #{url(escape-svg(prepare-svg('<svg width="1920" height="42" viewBox="0 0 1920 42" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 41.3744V42H1920V41.3744C1281.17 -13.7915 638.83 -13.7915 0 41.3744Z" fill="currentColor"/></svg>')))};
		}

		&-zigzag {
			--herocode-backgrounds--size: 32px;
			--herocode-backgrounds-mask--image: #{url(escape-svg(prepare-svg('<svg width="1920" height="32" viewBox="0 0 1920 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1920 9.06667L1893.76 29.0909L1855.64 0L1817.53 29.0909L1779.41 0L1741.3 29.0909L1703.18 0L1665.06 29.0909L1626.94 0L1588.83 29.0909L1550.71 0L1512.6 29.0909L1474.49 0L1436.37 29.0909L1398.25 0L1360.14 29.0909L1322.03 0L1283.92 29.0909L1245.81 0L1207.69 29.0909L1169.58 0L1131.47 29.0909L1093.35 0L1055.24 29.0909L1017.13 0L979.01 29.0909L940.9 0L902.78 29.0909L864.67 0L826.55 29.0909L788.44 0L750.33 29.0909L712.21 0L674.1 29.0909L635.99 0L597.87 29.0909L559.76 0L521.65 29.0909L483.54 0L445.42 29.0909L407.31 0L369.2 29.0909L331.09 0L292.97 29.0909L254.86 0L216.75 29.0909L178.64 0L140.53 29.0909L102.42 0L64.3 29.0909L26.19 0L0 19.9952V32H1920V9.06667Z" fill="currentColor"/></svg>')))};
		}

		&-waves {
			--herocode-backgrounds--size: 104px;
			--herocode-backgrounds-mask--image: #{url(escape-svg(prepare-svg('<svg width="1920" height="104" viewBox="0 0 1920 104" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1920 87.9102C1904.08 91.8653 1885.63 94.2523 1863.33 94.2523C1734.35 94.2523 1734.35 14.3521 1605.37 14.3521C1476.39 14.3521 1476.39 94.2523 1347.42 94.2523C1218.45 94.2523 1218.44 14.362 1089.47 14.362C960.5 14.362 960.49 94.2623 831.52 94.2623C702.55 94.2623 702.54 14.362 573.56 14.362C444.58 14.362 444.58 94.2623 315.61 94.2623C186.64 94.2623 186.63 14.362 57.65 14.362C34.88 14.362 16.15 16.8589 0 20.9638V103.99H1920V87.9102Z" fill="currentColor"/><path opacity="0.2" d="M1920 40.9289C1876.31 22.6018 1842.11 0 1757.74 0C1615.86 0 1615.86 63.9202 1473.99 63.9202C1332.12 63.9202 1332.11 0 1190.24 0C1048.37 0 1048.37 63.9202 906.5 63.9202C764.63 63.9202 764.62 0 622.74 0C480.86 0 480.87 63.9202 338.99 63.9202C197.11 63.9202 197.12 0 55.24 0C33.95 0 15.86 1.44819 0 3.89514V103.99H1920V40.9289Z" fill="currentColor"/><path opacity="0.2" d="M1920 14.2918C1906.46 13.4528 1891.12 12.9834 1873.29 12.9834C1744.31 12.9834 1744.31 50.936 1615.33 50.936C1486.35 50.936 1486.35 12.9834 1357.37 12.9834C1228.39 12.9834 1228.39 50.936 1099.42 50.936C970.45 50.936 970.44 12.9834 841.47 12.9834C712.5 12.9834 712.49 50.936 583.52 50.936C454.55 50.936 454.54 12.9834 325.56 12.9834C196.58 12.9834 196.58 50.936 67.61 50.936C40.01 50.936 18.32 49.1982 0 46.4616V104H1920V14.2918Z" fill="currentColor"/></svg>')))};
		}

		&-bubbles {
			--herocode-backgrounds--size: 140px;
			--herocode-backgrounds-mask--image: #{url(escape-svg(prepare-svg('<svg width="1920" height="140" viewBox="0 0 1920 140" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1851.76 93.09C1823.05 67.77 1785.76 66.7 1762.52 97.15C1752.12 81.84 1732.95 73 1714.59 75.04C1696.23 77.08 1679.46 89.91 1672.65 107.13C1659.54 86.51 1625.99 85.35 1610.78 104.47C1600.35 64.53 1560.09 34.61 1518.94 36.23C1477.8 37.85 1441.25 70.49 1433.97 111.13C1416.36 98.18 1393.19 93.1 1371.8 97.51C1350.4 101.92 1331.11 115.74 1320.02 134.61C1305.24 115.91 1281.86 107.31 1260.19 117.17C1256.43 99.4 1241.99 84.35 1224.43 79.89C1206.87 75.43 1187.03 81.77 1175.28 95.6C1164.5 84.99 1147.97 80.65 1133.39 84.6C1118.81 88.54 1106.7 100.62 1102.69 115.23C1082.47 91.68 1047.59 83.51 1024.17 103.87C1012.25 70.06 979.32 44.75 943.66 41.98C908 39.21 871.58 59.14 854.61 90.7C845.11 76.88 828.67 68.13 811.93 67.96C795.19 67.8 783.34 79.73 773.57 93.36C757.81 68.99 729.15 53.56 700.18 53.87C671.21 54.18 645.39 71.02 630.16 95.73C613 81.29 588.73 75.81 567.05 81.49C545.38 87.17 526.88 103.86 518.96 124.87C494.09 107.59 463.27 101.45 438.35 118.67C419.17 100.54 391.28 92.14 365.31 96.66C339.34 101.18 315.15 115.03 303.19 138.59C271.17 109.77 219 106.69 183.84 131.55C164.09 113.76 134.37 105.06 108.09 108.79C88.48 64.4 46.8 31.16 0 19.36V140H1920V0C1918.98 0.82 1917.97 1.65 1916.98 2.5C1888.56 26.81 1869.86 60.32 1851.76 93.09Z" fill="currentColor"/></svg>')))};
		}

		&-octagon {
			--herocode-backgrounds--size: 200px;
			--herocode-backgrounds-mask--image: #{url(escape-svg(prepare-svg('<svg width="1920" height="200" viewBox="0 0 1920 200" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M752.08 140.7C681.58 152.81 609.95 162.29 537.33 168.99C469.86 141.61 403.97 111.84 339.8 79.82C267.93 81.41 195.24 80.17 121.9 75.98C80.45 51.6 39.82 26.25 0 0V200H959.99C889.35 182.77 819.99 162.96 752.08 140.7Z" fill="currentColor"/><path d="M1920 0C1880.18 26.25 1839.54 51.6 1798.1 75.98C1724.76 80.17 1652.06 81.41 1580.19 79.82C1516.01 111.84 1450.12 141.61 1382.65 168.99C1310.03 162.28 1238.4 152.81 1167.9 140.7C1099.98 162.96 1030.63 182.77 959.99 200H1920V0Z" fill="currentColor"/></svg>')))};
		}

		&-flash {
			--herocode-backgrounds--size: 1008px;
			--herocode-backgrounds-mask--image: #{url(escape-svg(prepare-svg('<svg width="1920" height="1008" viewBox="0 0 1920 1008" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.0195963 0H0V1008H1920V774.949L682.842 993.094C410.895 1041.05 151.566 859.461 103.614 587.514L0.0195963 0Z" fill="currentColor"/></svg>')))};
		}

		&-dune {
			--herocode-backgrounds--size: 110px;
			--herocode-backgrounds-mask--image: #{url(escape-svg(prepare-svg('<svg width="842" height="110" viewBox="0 0 842 110" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M421 0C420.58 0 420.23 0.3 420.17 0.7C406.63 82.84 228.36 110 0 110H842C613.64 110 435.37 82.84 421.83 0.7C421.76 0.3 421.41 0 421 0V0Z" fill="currentColor"/></svg>')))};
		
			.herocode-backgrounds-inner {
				mask-size: 842px 110px;
			}
		}
/*
		&-spruce {
			--herocode-backgrounds--size: 148px;
			--herocode-backgrounds-mask--image: #{url(escape-svg(prepare-svg('')))};
		}

		&-city {
			--herocode-backgrounds--size: 200px;
			--herocode-backgrounds-mask--image: #{url(escape-svg(prepare-svg('')))};
		}*/
	}
}

.herocode-backgrounds {
	position: absolute;
/*
	&-start,
	&-end {
		top: 0;
		bottom: 0;
		width: var( --herocode-backgrounds--size );
	}

	&-start {
		left: 0;

		:where( .herocode-backgrounds-inner ) {
			transform: rotate( 90deg );
		}
	}

	&-end {
		right: 0;

		:where( .herocode-backgrounds-inner ) {
			transform: rotate( -90deg );
		}
	}*/

	&-top,
	&-bottom {
		left: 0;
		right: 0;
		height: var( --herocode-backgrounds--size );
	}

	&-top {
		top: 0;

		:where( .herocode-backgrounds-inner ) {
			transform: rotate( 180deg );
		}

		:is( .herocode-backgrounds-inner.is-turn-over ) {
			transform: rotate( 180deg ) scaleX(-1);
		}
	}

	&-bottom {
		bottom: 0;

		:where( .herocode-backgrounds-inner ) {
			transform: rotate( 0deg );
		}

		:is( .herocode-backgrounds-inner.is-turn-over ) {
			transform: rotate( 0deg ) scaleX(-1);
		}
	}

	&-inner {
		position: absolute;
		inset: 0;

		mask-image: var( --herocode-backgrounds-mask--image );
		mask-position: center bottom;
		mask-repeat: no-repeat;
		mask-size: cover;
		background-color: var( --herocode-backgrounds--fill, #fff );
	}

	&-content {
		position: relative;
		z-index: 3;
	}
}
